[submodule "yaya_defines"]
	path = yaya_defines
	url = https://github.com/seityaya/defines.git

[submodule "yaya_logger"]
	path = yaya_logger
	url = https://github.com/seityaya/logger.git

[submodule "yaya_memory"]
	path = yaya_memory
	url = https://github.com/seityaya/memory.git

[submodule "yaya_unit"]
	path = yaya_unit
	url = https://github.com/seityaya/unit.git
